In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import numpy as np

## python virtual environment

In [5]:
# clone an environment
# conda env create -f environment.yml
# export the env
# conda env export > environment.yml

## math

* Division (/) always returns a float. 
* floor division (//) returns an integer result (discarding any fractional result)
* the remainder (%) 
* pow (**) 
* round: round(n, 2)
* bitwise operator, left shift (<<), right shift (>>)

In [4]:
8 // 3
9 % 2
10 >> 2
9 << 3

2

1

2

72

## Strings

* \n means newline
* r before the quote, raw input
* Strings can be concatenated (glued together) with the + operator, and repeated with *: Two or more string literals (i.e. the ones enclosed between quotes) next to each other are automatically concatenated.
* In addition to indexing, slicing is also supported. While indexing is used to obtain individual characters, slicing allows you to obtain substring

In [9]:
s = 'First line.\nSecond line.'  
s  # without print(), \n is included in the output

print(s)  # with print(), \n produces a new line

'First line.\nSecond line.'

First line.
Second line.

In [10]:
print('C:\some\name')  # here \n means newline!
print(r'C:\some\name')

C:\some
ame
C:\some\name

In [11]:
# 3 times 'un', followed by 'ium'
3 * 'un' + 'ium'

'unununium'

In [8]:
word = 'Python'
word[0:2]  # characters from position 0 (included) to 2 (excluded)
word[2:5]  # characters from position 2 (included) to 5 (excluded)

word[4:30]

s = 'supercalifragilisticexpialidocious'
len(s)
#gives you the length of the string

'Py'

'tho'

'on'

34

## Lists

In [41]:
#You can also glue lists together
squares = [1, 4, 9, 16, 25]
squares + [36, 49, 64, 81, 100]

#You can add new items to a list using the append() method
squares.append(111)
squares

letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

# replace some values
letters[2:5] = ['C', 'D', 'E']
letters
letters[2:5] = []
letters

# clear the list by replacing all the elements with an empty list
letters[:] = []
letters


#You can also make lists containing other lists
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x
x[0]
x[0][1]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 111]

['a', 'b', 'c', 'd', 'e', 'f', 'g']

['a', 'b', 'C', 'D', 'E', 'f', 'g']

['a', 'b', 'f', 'g']

[]

[['a', 'b', 'c'], [1, 2, 3]]

['a', 'b', 'c']

'b'

In [39]:
n = [1,2,6,3,4,5,5]
n
n.sort() # sort in place
n
set(n)
n[-2]

a = sorted(np.unique(n), reverse=True)
a
a[1]

a = sorted(list(set(n)), reverse=True)
a
a[1]

[1, 2, 6, 3, 4, 5, 5]

[1, 2, 3, 4, 5, 5, 6]

{1, 2, 3, 4, 5, 6}

5

[6, 5, 4, 3, 2, 1]

5

[6, 5, 4, 3, 2, 1]

5

In [76]:
n = [1,2,6,3,4,5,5]
n
n.sort() # sort in place
n
set(n)
n[-2]

a = sorted(np.unique(n), reverse=True)
a
a[1]

a = sorted(list(set(n)), reverse=True)
a[1]

[1, 2, 6, 3, 4, 5, 5]

[1, 2, 3, 4, 5, 5, 6]

{1, 2, 3, 4, 5, 6}

5

[6, 5, 4, 3, 2, 1]

5

5

In [77]:
from itertools import product

A = [1,2,3]
B = [4,5]

print(' '.join(map(str, product(A,B))))

(1, 4) (1, 5) (2, 4) (2, 5) (3, 4) (3, 5)

In [46]:
a = [1, 2, 3, 4, 3]
a[::-1]
a.count(3)
a
a.pop(1)
a
a.pop(-2)
a

[3, 4, 3, 2, 1]

2

[1, 2, 3, 4, 3]

2

[1, 3, 4, 3]

4

[1, 3, 3]

# list slicing
https://stackoverflow.com/questions/509211/understanding-slice-notation

s[start:stop:step]

In [73]:
s = [1,2,3,4,5]
s = list(range(1, 6))
s
s[::-1] # reverse list
s[1:4:2] # start, end. step
s[1:3] # include left, exclude right
s.reverse()
s
s.sort()
s

[1, 2, 3, 4, 5]

[5, 4, 3, 2, 1]

[2, 4]

[2, 3]

[5, 4, 3, 2, 1]

[1, 2, 3, 4, 5]

In [78]:
s
s[0:len(a):-1]
s[len(a)::-1]
s[:]
s[:-1]

[1, 2, 3, 4, 5]

[]

[5, 4, 3, 2, 1]

[1, 2, 3, 4, 5]

[1, 2, 3, 4]

when step is negative, start is from the end and stop is the beginning, -1 just means reverse order

In [83]:
s[::-1]    # all items in the array, reversed
s[1::-1]   # the first two items, reversed
s[:-3:-1]  # the last two items, reversed
s[-3::-1]  # everything except the last two items, reversed
s[::-2]
s[-4::-2]
s[-4::2]

[5, 4, 3, 2, 1]

[2, 1]

[5, 4]

[3, 2, 1]

[5, 3, 1]

[2]

[2, 4]

In [141]:
a = [1, 2, 3, 4, 3]
a[::-1]
a.count(3)
a.pop(1)

[3, 4, 3, 2, 1]

2

2

In [56]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.count('apple') #count occurrence of an element
fruits.count('tangerine')

fruits.index('banana') # find the index of first occurrence of the item
fruits.index('banana', 4)  # Find next banana starting at position 4
fruits.reverse()
fruits

fruits.append('grape')
fruits 

fruits.sort()
fruits

fruits.pop()
fruits

fruits = ['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']
fruits.index('grape', 2, 6) # only look for grape in the specified slice
thingiwant = fruits.pop()
fruits
thingiwant

2

0

3

6

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

'pear'

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange']

4

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange']

'pear'

In [77]:
from itertools import product

In [145]:
A = [1,2,3]
B = [4,5]

print(' '.join(map(str, product(A,B))))

(1, 4) (1, 5) (2, 4) (2, 5) (3, 4) (3, 5)

## More Info On Lists

In [134]:
list.append(x)
#Add an item to the end of the list.
list.extend(iterable)
#Extend the list by appending all the items from the iterable

list.insert(i, x)
#Insert an item at a given position. .append(x).

list.remove(x)
#Remove the first item from the list whose value is equal to x. It raises a ValueError if there is no such item.

list.pop([i])
#Remove the item at the given position in the list, and return it. If no index is specified, a.pop() removes and returns the last item in the list. (The square brackets around the i in the method signature denote that the parameter is optional, not that you should type square brackets at that position. You will see this notation frequently in the Python Library Reference.)

list.clear()
#Remove all items from the list. Equivalent to del a[:].

list.index(x[, start[, end]])
#Return zero-based index in the list of the first item whose value is equal to x. Raises a ValueError if there is no such item.

#The optional arguments start and end are interpreted as in the slice notation and are used to limit the search to a particular subsequence of the list. The returned index is computed relative to the beginning of the full sequence rather than the start argument.

list.count(x)
#Return the number of times x appears in the list.

list.sort(key=None, reverse=False)
#Sort the items of the list in place (the arguments can be used for sort customization, see sorted() for their explanation).

list.reverse()
#Reverse the elements of the list in place.

list.copy()
#Return a shallow copy of the list.

SyntaxError: invalid syntax (<ipython-input-134-c64819f40203>, line 18)

In [24]:
import numpy as np
list(np.array(list(range(15))).reshape(3,5))

[array([0, 1, 2, 3, 4]), array([5, 6, 7, 8, 9]), array([10, 11, 12, 13, 14])]

In [27]:
l_nested = [list(range(5)), list(range(6,11)), list(range(11,16))]
l_nested

[[0, 1, 2, 3, 4], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15]]

In [43]:
l_nested[1][3] # access by row and then column in separate bracket, unlike numpy array

9

to iterate over this nested list

In [93]:
[[x+10 for x in stack[:2]]+[y-10 for y in stack[2:]] for stack in l_nested]

[[10, 11, -8, -7, -6], [16, 17, -2, -1, 0], [21, 22, 3, 4, 5]]

## For Statements

In [57]:
words = ['cat', 'window', 'defenestrate']
for w in words[:]:  # Loop over a slice copy of the entire list.
    if len(w) > 6:
        words.insert(0, w)
words

['defenestrate', 'cat', 'window', 'defenestrate']

## Range ( ) Function

In [58]:
#To iterate over the indices of a sequence, you can combine range() and len() as follows:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
     print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [59]:
#The function list( ) creates lists from iterables:
list(range(5))

[0, 1, 2, 3, 4]

## break and continue Statements, and else Clauses on Loops

In [8]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

continue statement continues with the next iteration of the loop

## Pass Statements

pass statements pretty much do nothing. it can be used when a statement is needed syntactically.

## Defining Functions

def introduces the function definition. I has to be followed by the function and the list of parameters in brackets. The next line, the body, has to be indented.

In [102]:
def fib2(n):  # return Fibonacci series up to n
    """Return a list containing the Fibonacci series up to n."""
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)    # see below
        a, b = b, a+b
    return result
f100 = fib2(100)    # call it
f100                # write the result

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

## Default Argument Values

In [68]:
i = 5
def f(arg=i):
    print(arg)
f()
i = 6
f()

5
5

In [69]:
def f(a, L=[]):
    L.append(a) #append means add onto list
    return L

print(f(1))
print(f(2))
print(f(3))

[1]
[1, 2]
[1, 2, 3]

In [73]:
def f(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L
f('test')
f('test', [''])

['test']

['item', 'test']

## hash

In [21]:
int_val = 4
str_val = 'Glowtfm1'
flt_val = 24.56
# Printing the hash values. 
# Notice Integer value doesn't change 
# You'l have answer later in article. 
print ("The integer hash value is : " + str(hash(int_val))) 
print ("The string hash value is : " + str(hash(str_val))) 
print ("The float hash value is : " + str(hash(flt_val)))

The integer hash value is : 4
The string hash value is : -4952822353954122295
The float hash value is : 1291272085159665688

In [24]:
hash(str_val)

-4952822353954122295

In [25]:
a = '1 2'
integer_list = map(int, a.split(' '))
t = tuple(integer_list)
print(t, hash(t))

(1, 2) 3713081631934410656

In [26]:
for i in map(int, a.split()):
    print(i)

1
2

In [32]:
tel={ 'hi':23, 'poopy':1234}
tel.keys()

dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

dict_keys(['hi', 'poopy'])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

## Classes

In [ ]:
#simplest form of class definition ⬇
class ClassName:
    <statement-1>
    .
    .
    .
    <statement-N>

   Class definitions, like function definitions (def statements) must be executed before they have any effect. (You could possibly put a class definition in a branch of an if statement, or inside a function.)

   The statements inside a class definition will usually be function definitions, but other statements are allowed, and can be useful. The function definitions inside a class, normally have a strange form of argument list, dictated by the calling conventions for methods.

   When a class definition is entered, a new namespace is created, and used as the local scope — thus, all assignments to local variables go into this new namespace. In particular, function definitions bind the name of the new function here.

   When a class definition is left normally (via the end), a class object is created. This is basically a wrapper around the contents of the namespace created by the class definition. The original local scope (the one in effect just before the class definition was entered) is reinstated, and the class object is bound here to the class name given in the class definition header.

9.3.2. Class Objects

   Class objects support two kinds of operations: attribute references and instantiation.

   Attribute references use the standard syntax used for all attribute references in Python: obj.name. Valid attribute names are all the names that were in the class’s namespace when the class object was created. So, if the class definition looked like this:

In [34]:
class MyClass:
    """A simple example class"""
    i = 12345

    def f(self):
        return 'hello world'

then MyClass.i and MyClass.f are valid attribute references, returning an integer and a function object, respectively. Class attributes can also be assigned to, so you can change the value of MyClass.i by assignment. \__doc__ is also a valid attribute, returning the docstring belonging to the class: "A simple example class".

Class instantiation uses function notation. Just pretend that the class object is a parameterless function that returns a new instance of the class. For example (assuming the above class):

In [36]:
MyClass.i
MyClass.i = 4
MyClass.i
MyClass.__doc__
MyClass.__dict__
mc = MyClass()
mc.i
mc.f
mc.__doc__

4

4

'A simple example class'

mappingproxy({'__module__': '__main__',
              '__doc__': 'A simple example class',
              'i': 4,
              'f': <function __main__.MyClass.f(self)>,
              '__dict__': <attribute '__dict__' of 'MyClass' objects>,
              '__weakref__': <attribute '__weakref__' of 'MyClass' objects>})

4

'A simple example class'

## Using Lists As Stacks

The list methods make it very easy to use a list as a stack, where the last element added is the first element retrieved ( “last-in, first-out” ). To add an item to the top of the stack, use append(   ). To retrieve an item from the top of the stack, use pop(  ) without an explicit index. For example:

In [11]:
 stack = [3, 4, 5]
 stack.append(6)
 stack.append(7)
 stack

 stack.pop()
    
 stack

 stack.pop()

 stack.pop()

 stack

[3, 4, 5, 6, 7]

7

[3, 4, 5, 6]

6

5

[3, 4]

## Using Lists As Queues

In [146]:
from collections import deque
queue_ = deque(["Eric", "John", "Michael"])
queue_.append("Terry")           # Terry arrives
queue_.append("Graham")  # Graham arrives
queue_
queue_.popleft()                 # The first to arrive now leaves

queue_.popleft()                 # The second to arrive now leaves

queue_                          # Remaining queue in order of arrival

deque(['Eric', 'John', 'Michael', 'Terry', 'Graham'])

'Eric'

'John'

deque(['Michael', 'Terry', 'Graham'])

## List Comprehensions

List comprehensions provide a concise way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.

For example, assume we want to create a list of squares, like:

In [17]:
 squares = []
 for x in range(10):
     squares.append(x**2)

 squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Note that this creates (or overwrites) a variable named x that still exists after the loop completes. We can calculate the list of squares without any side effects using:

In [27]:
squares = list(map(lambda x: x**2, range(10)))

#or, equivalently:

squares = [x**2 for x in range(10)] #easier to read

A list comprehension consists of brackets containing an expression followed by a for clause, then zero or more for or if clauses. The result will be a new list resulting from evaluating the expression in the context of the for and if clauses which follow it. For example, this listcomp combines the elements of two lists if they are not equal:

In [147]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

#and it’s equivalent to:


combs = []
for x in [1,2,3]:
     for y in [3,1,4]:
         if x != y:# if x not equal to y
             combs.append((x, y))
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

## Nested List Comprehensions

The initial expression in a list comprehension can be any arbitrary expression, including another list comprehension.

Consider the following example of a 3x4 matrix implemented as a list of 3 lists of length 4:

In [148]:
matrix = [
     [1, 2, 3, 4],
     [5, 6, 7, 8],
     [9, 10, 11, 12],
 ]

In [150]:
#The following list comprehension will transpose rows and columns:

[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [151]:
# ^^ equivalent to v 
transposed = []
for i in range(4):
     transposed.append([row[i] for row in matrix])
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In the real world, you should prefer built-in functions to complex flow statements. The zip(  ) function would do a great job for this use case:

In [155]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

## The Del Statement

There is a way to remove an item from a list given its index instead of its value: the del statement. This is different from the pop(  ) method which returns a value. The del statement can also be used to remove slices from a list or clear the entire list). 

For example:

In [42]:
 a = [-1, 1, 66.25, 333, 333, 1234.5]
 del a[0]
 a

 del a[2:4]
 a

 del a[:]
 a

[1, 66.25, 333, 333, 1234.5]

[1, 66.25, 1234.5]

[]

## Tuples and Sequences

A tuple consists of a number of values separated by commas.

For example:

In [122]:
t = 12345, 54321, 'hello!'
t[0]

t

 # Tuples may be nested:
u = t, (1, 2, 3, 4, 5)
u

 # Tuples are immutable:
t[0] = 88888

12345

(12345, 54321, 'hello!')

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

TypeError: 'tuple' object does not support item assignment

In [123]:
 # but they can contain mutable objects:
v = ([1, 2, 3], [3, 2, 1])
v[0][1] = 100
# v[0] = [20, 30, 40] error not mutable
v

w = (2, 3)
w[0] = 1000

([1, 100, 3], [3, 2, 1])

TypeError: 'tuple' object does not support item assignment

Output of tuples are always in parentheses

## Comparison Operators

Less than   :   <

Greater than    :   >

Less than or equal to   :   <=

Greater than or equal to  :   >=

Equal to   :  ==

Not equal to  :   !=

## Sets

A set is an unordered collection with no duplicate elements. Can be used for membership testing and eliminating duplicate entries. Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.

Curly braces or the set() function can be used to create sets. Note: to create an empty set you have to use set(), not {}; the latter creates an empty dictionary, a data structure that we discuss in the next section.

In [38]:
lst = [1, 2,3,4,3,3]
lst
list(set(lst))

[1, 2, 3, 4, 3, 3]

[1, 2, 3, 4]

In [34]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
basket

{'apple', 'banana', 'orange', 'pear'}

In [44]:
 print('abc')

abc

In [43]:
print(basket)                      # show that duplicates have been removed
'orange' in basket

{'orange', 'pear', 'apple', 'banana'}

True

In [46]:
# Demonstrate set operations on unique letters from two words

a = set('abracadabra')
b = set('alacazam')
a
b
a - b                              # letters in a but not in b

a | b                              # letters in a or b or both

a & b                              # letters in both a and b

a ^ b                              # letters in a or b but not both

{'a', 'b', 'c', 'd', 'r'}

{'a', 'c', 'l', 'm', 'z'}

{'b', 'd', 'r'}

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

{'a', 'c'}

{'b', 'd', 'l', 'm', 'r', 'z'}

## Dictionaries

Dictionaries are indexed by keys, which can be any immutable type. For example, strings and numbers can always be keys. Tuples can also be used as keys if they contain only strings, numbers, or tuples. If a tuple contains any mutable object either directly or indirectly, it cannot be used as a key. You can’t use lists as keys, since lists can be modified in place using index assignments, slice assignments, or methods like append() and extend().

It is best to think of a dictionary as a set of key: value pairs, with the requirement that the keys are unique (in one dictionary). A pair of braces creates an empty dictionary: {}. Placing a comma-separated list of key:value pairs within the braces adds initial key:value pairs to the dictionary. This is also the way dictionaries are written in output.

The main operations on a dictionary are storing a value with some key and extracting the value given the key. It is also possible to delete a key:value pair with del. If you store using a key that is already in use, the old value associated with that key is forgotten. It is an error to extract a value using a non-existent key.

Performing list(d) on a dictionary returns a list of all the keys used in the dictionary, in insertion order (if you want it sorted, just use sorted(d) instead). To check whether a single key is in the dictionary, use the in keyword.

In [114]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
tel

tel['jack']

del tel['sape']
tel['irv'] = 4127
tel

list(tel)

sorted(tel)

'guido' in tel

'jack' not in tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

4098

{'jack': 4098, 'guido': 4127, 'irv': 4127}

['jack', 'guido', 'irv']

['guido', 'irv', 'jack']

True

False

In [118]:
#The dict() constructor makes dictionaries directly from sequences of key-value pairs:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])
dict([['sape', 4139],['guido', 4127], ['jack', 4098]])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [120]:
# list comprehension
[x**2 for x in (2, 4,6)]

#dict comprehensions can also be used to create dictionaries from arbitrary keys and value expressions
{x: x**2 for x in (2, 4, 6)}

[4, 16, 36]

{2: 4, 4: 16, 6: 36}

## Looping Techniques

In [107]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
     print(k, v)

gallahad the pure
robin the brave

In [18]:
#When looping through a sequence, the position index and corresponding value can 
#be retrieved at the same time using the enumerate() function.

for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [21]:
#To loop over two or more sequences at the same time, the entries can be paired with the zip() function.

questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
     print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [109]:
#To loop over a sequence in reverse, first specify the 
#sequence in a forward direction and then call the reversed() function.
for i in reversed(range(1, 10, 2)):
     print(i)

9
7
5
3
1

In [113]:
#To loop over a sequence in sorted order, use the sorted() 
#function which returns a new sorted list while leaving the source unaltered.
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(basket):
     print(f)

apple
apple
banana
orange
orange
pear

## Modules

Python has a way to put definitions in a file and use them in a script or in an interactive instance of the interpreter. This file is called a module, definitions from a module can be imported into other modules or into the main module.

A module is a file containing Python definitions and statements. The file name is the module name with the suffix .py appended. Within a module, the module’s name (as a string) is available as the value of the global variable __name__.

In [35]:
def fib(n):    # write Fibonacci series up to n
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()

def fib2(n):   # return Fibonacci series up to n
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)
        a, b = b, a+b
    return result

In [92]:
import fibo

In [19]:
fibo.fib(1000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

Modules can import other modules.

In [30]:
from fibo import fib, fib2
fib2(500)
fib(500)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

You can also import all the names that a module defines

In [34]:
from fibo import * # star means all or everything
fib(500)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

In [40]:
import fibo as fib
fibo.fib2(500)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

In [51]:
from fibo import fib, fib2 as fibonacci2
fibonacci(500)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

## Packages

Packages are a way to structure Pythong's module namespace using "dotted module names". For exampe, the module name A.B designates a submodule named B in a package named A. 

A package is a collection of Python modules.

??

## Input and Output

In [79]:
#Formatted string literals start with an f and replace the 
#expressions in the curly brackets with their values
year = 2016
event = 'Referendum'
f'Results of the {year} {event}'

'Results of the 2016 Referendum'

In [103]:
yes_votes = 42_572_654
yes_votes
type(yes_votes)
no_votes = 43_132_495
percentage = yes_votes / (yes_votes + no_votes)
percentage
'{:e}'.format(percentage)
'{:.3%}'.format(percentage)
'{:-9} YES votes  {:2.2%}'.format(yes_votes, percentage)

42572654

int

0.496733912684756

'4.967339e-01'

'49.673%'

' 42572654 YES votes  49.67%'

In [57]:
yes_votes = 42_572_654
no_votes = 43_132_495
percentage = no_votes / (yes_votes + no_votes)
'{:-9} NO votes  {:2.2%}'.format(no_votes, percentage)

' 43132495 NO votes  50.33%'

In [63]:
# str()  -  
# repr()  -

k = 'Hi, I like dogs'
str(k)
repr(k)

'Hi, I like dogs'

"'Hi, I like dogs'"

In [66]:
str(10/2)
repr(10/2)

'5.0'

'5.0'

Passing an integer after the '  :  ' will cause that field to be a minimum number of characters wide. This is useful for making columns line up.

In [75]:
table = {'Cat': 4127, 'Dog': 4098, 'Bunny': 7678}
for name, number in table.items():
     print(f'{name:10} ==> {number:10}')

Cat        ==>       4127
Dog        ==>       4098
Bunny      ==>       7678

## str.format(  )

In [78]:
# str.format(  ) uses the strings in the bracket to replace the {  } in the string:
print('I really like {} and {}!'.format('dogs', 'cats'))

# Putting numbers in the curly brackets can refer to the position of the object that is being passed into the str.format()
print('I really like {1} and {0}!'.format('dogs', 'cats'))
print('I really like {0} and {1}!'.format('dogs', 'cats'))

# You can also use keyword arguments and their values are referred to by using the name of the arguement.
print('These {food} are {adjective}!'.format(
       food ='noodles', adjective ='delicious'))

# Positional and keyword arguments can also be combined
print('I really like {1}, {0}, and {animal}!'.format('dogs', 'cats', animal = 'bunnies'))


# If you have a long format string that you don't want to split up, you can use the '**' notation
lst = [1,2,3,4]
print(lst)
print(*lst)
table = {'Dogs': 4127, 'Cats': 4098, 'Bunnies': 8637678}
# **table pass in keyword argument
print('Cats: {Cats}; Dogs: {Dogs}; Bunnies: {Bunnies}'.format(**table))
# pass in 3 keyword argument, only use two of them
print('Cats: {Cats}; Dogsxxxxxx {Dogs}'.format(**table))

I really like dogs and cats!
I really like cats and dogs!
I really like dogs and cats!
These noodles are delicious!
I really like cats, dogs, and bunnies!
[1, 2, 3, 4]
1 2 3 4
Cats: 4098; Dogs: 4127; Bunnies: 8637678
Cats: 4098; Dogsxxxxxx 4127

# map, filter, reduce

In [72]:
from functools import reduce
# you can map a function to a list. or a dictionary 
d = {'a':1, 'b':2, 'c':6}
lst = ['a','a','b','c','c','a']
mapped_list = [1,1,2,6,6,1]
list(map(d.get, lst))
d.get('b')
lst = list(range(3))
lst
list(map(lambda x: x**2, lst))
list(filter(lambda x: x>0, lst))
# reduce pick 2 element in the list and times/sum together, store the results, then apply the same to the result and the 3rd lements
reduce((lambda x, y: x * y), lst)

[1, 1, 2, 6, 6, 1]

2

[0, 1, 2]

[0, 1, 4]

[1, 2]

0

In [53]:
import numpy as np
import pandas as pd
pd.Series(s).map({3:100}) # map only works for pandas series only

0      NaN
1      NaN
2    100.0
3      NaN
4      NaN
dtype: float64

In [42]:
# similar to np.zeros, 
a = [0] * 10 + [1] * 3 # concatenate
a
a / 2
sum([2] *3)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1]

TypeError: unsupported operand type(s) for /: 'list' and 'int'

### download a file from a url

In [3]:
# # a few notebook tricks: ?, ??, tab, shift tab, shift tab tab, shift tab tab tab
# df = pd.DataFrame()
# ?df.drop # brings up docs
# df.drop() # tab show parameters available
# df.d # tab shows functions
# df.drop() #shift tab tab show method and docs

In [1]:
import urllib.request
url = 'http://lib.stat.cmu.edu/datasets/CPS_85_Wages/'
# Download the file from `url` and save it locally under `file_name`:
urllib.request.urlretrieve('http://lib.stat.cmu.edu/datasets/CPS_85_Wages',
                       'wages.txt')

('wages.txt', <http.client.HTTPMessage at 0x7f45b8ae9438>)

# read text in files as a list of texts

In [4]:
path = '/projects/trans_scratch/validations/workspace/szong/development/fastai/courses/ml1/data/aclImdb/train/neg/'
fs = ['12265_1.txt', '12264_1.txt']
txts = []
for f in fs:
    fname = f'{path}{f}'
    with open(fname) as fh:
        txts.append(fh.read())

txts

['The special effects of this movie are, especially for its time, laughable and used in such an over-emphasized way that you can\'t deny their terrible existance.<br /><br />The acting redefines the term "terrible overacting" at the hands of Meg Foster and Richard Joseph Paul, where julie Newman and Andrew Divoff just redefine "bad".<br /><br />***spoilers***<br /><br />The charm in this movie can be found in two things: First is the excellent casting of Carel "Lurch" Struycken as the mysterious psychic Gaunt, who can sense where and when people will die and is always there.<br /><br />The second are original finds, the combination SF-Western is obviously original, if terrible, but other finds are more original, like the gunman Zack Stone being able to sense the pain of the people he shoots (though his acting falls short here).<br /><br />Overal...don\'t see this movie, except if you love that ol\' hunk-o-brutal Carel Struycken, as any self-respecting Dutchman should.',
 "You get 5 writers together, have each write a different story with a different genre, and then you try to make one movie out of it. It's action, it's adventure, it's sci-fi, it's western, it's a mess. Sorry, but this movie absolutely stinks. 4.5 is giving it an awefully high rating. That said, it's movies like this that make me think I could write movies, and I can barely write."]

# regex

In [16]:
import re
a = '67lk78347834 (())&/&745  '
# substitute not matched to x, equivalent to keep numbers only
result = re.sub('[^0-9]','x', a)
print(result)
result = re.sub('[0-9]','x', a)
print(result)

67xx78347834xxxxxxxx745xx
xxlkxxxxxxxx (())&/&xxx

#### re.search?

In [17]:
re.search("[a-zA-Z]\d{2}", "S07E01 - Meet the New Boss.avi")

# simplify stages
# p = r'[ab]'
# re.search(p, 'a')
p = '[ABCat]' # match A or B or C or a or t
# p = '(B|Cat|a)' # match A or B or Cat
# p = '[AB]\d*'
re.search(p, 'IIA')
re.search(p, 'IIA87CatB')
# df_cov.loc['clinical_stage',:]

### understand class self

In [10]:
class Rectangle:
   def __init__(self, length, breadth, unit_cost=0):
       self.length = length
       self.breadth = breadth
       self.unit_cost = unit_cost
   
   def get_perimeter(self):
       return 2 * (self.length + self.breadth)
   
   def get_area(self):
       return self.length * self.breadth
   
   def calculate_cost(self):
       area = self.get_area()
       return area * self.unit_cost
# breadth = 120 cm, length = 160 cm, 1 cm^2 = Rs 2000
r = Rectangle(160, 120, 2000)
print("Area of Rectangle: %s cm^2" % (r.get_area()))
print("Cost of rectangular field: Rs. %s " %(r.calculate_cost()))

Area of Rectangle: 19200 cm^2
Cost of rectangular field: Rs. 38400000

to understand python object and self
https://micropyramid.com/blog/understand-self-and-__init__-method-in-python-class/

* class: a set of things (objects) having some properties in common and are different from others by type, kind, qulity etc. class is the blueprint for individual object with exactly the same behaviours.
* object: one of the instances (examples) of the class, which can perform the functionalities defined in the class.
* self: represent the instance of the class. by using self, we can access the attributes and methods of the class. 
* __init__: is the contructor, we call this reserved method to create an object from a class. It allows the class to initialize the attributes of a class.

In [24]:
string = 'ABCDCEDCXBGECDCCDXA'
sub_string = 'CDC'
def count_substring(string, sub_string):
   counts = 0
   for idx in range(len(string)-2):
        part = string[idx:idx+3]
        if part == sub_string:
            counts += 1
   return counts
count_substring(string, sub_string)

2

In [19]:
string[0:4]

'ABCD'

In [35]:
if __name__ == '__main__':
    n = int(input())
    # so student_marks is a dictionary, key is the student name, values is a list of three marks
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
    marks = student_marks[query_name]
    average_mark = sum(marks)/len(marks)
    print("{0:.2f}".format(average_mark))
# main()

b

ValueError: invalid literal for int() with base 10: 'b'

In [8]:
print("{0:.2f}".format(5.0))

5.00

In [7]:
print(":.2f".format(5.0))

:.2f

In [46]:
string = 'iamsmartateverything'
position = 3
character = 'KKKKK'
def mutate_string(string, position, character):
    l = list(string)
    l[position] = character 
    s = ''.join(l) 
    return s
mutate_string(string, position, character)

'iamKKKKKmartateverything'

In [ ]:
def show_this(astring):
    print(s) # this is wrong because s comes from nowhere
    print(astring) # this is correct because when you call function show_this you have to specify what astring is
show_this('iamsmart')

In [47]:
math.sqrt(5)

2.23606797749979

# unpacking

In [50]:
a = ['a', 'b', 'c']
b, *c = a

In [52]:
b
c

'a'

['b', 'c']

In [41]:
arr = [50005, 33, -551,2,3,50000, 50000, 4,55555, 55555, 5, 5]

def second(arr):
    largest = -100000000
    second = -10000000
    for idx in range(len(arr)):
        num = arr[idx]
        if num > largest:
            second = largest
            largest = num
        elif num == largest:
            pass # means do nothing
        elif num > second:
            second = num
        print(largest, second)
    return second
second(arr)

50005 -100000000
50005 33
50005 33
50005 33
50005 33
50005 50000
50005 50000
50005 50000
55555 50005
55555 50005
55555 50005
55555 50005

50005

In [49]:
sorted(np.unique(n), reverse=True)

[5, 4, 3, 2, 1]

# subprocess

In [133]:
cmd = "'curl', 'https://api.twilio.com/2010-04-01/Accounts/ACf0fc445a33885560fd884cc8a245c7a1/Messages.json', '-X', 'POST', '--data-urlencode', 'To=+16048180169' \
--data-urlencode 'From=+16042391598' \
--data-urlencode 'Body=testing twilio' \
-u ACf0fc445a33885560fd884cc8a245c7a1:bba19a693f1a1bca2bd9f6ddb3031d31"

In [134]:
import subprocess
ps = subprocess.Popen([cmd], stdout=subprocess.PIPE)
output = ps.communicate()[0]
print(output)
for line in output.splitlines():
    if 'rtptransmit' in line:
        print(line)

FileNotFoundError: [Errno 2] No such file or directory: "'curl', 'https://api.twilio.com/2010-04-01/Accounts/ACf0fc445a33885560fd884cc8a245c7a1/Messages.json', '-X', 'POST', '--data-urlencode', 'To=+16048180169' --data-urlencode 'From=+16042391598' --data-urlencode 'Body=testing twilio' -u ACf0fc445a33885560fd884cc8a245c7a1:bba19a693f1a1bca2bd9f6ddb3031d31": "'curl', 'https://api.twilio.com/2010-04-01/Accounts/ACf0fc445a33885560fd884cc8a245c7a1/Messages.json', '-X', 'POST', '--data-urlencode', 'To=+16048180169' --data-urlencode 'From=+16042391598' --data-urlencode 'Body=testing twilio' -u ACf0fc445a33885560fd884cc8a245c7a1:bba19a693f1a1bca2bd9f6ddb3031d31"

In [9]:
# class Teacher and class Student inherit from class SchoolMember
# the base or super class
class SchoolMember(object):
  '''represents any school member'''
  def __init__(self, name, age):
    self.name = name
    self.age = age
  def detail(self):
    '''show name and age, stay on same line (trailing comma)'''
    print 'Name: %-13s Age:%s' % (self.name, self.age),
    # use the base class as argument to inherit from

class Teacher(SchoolMember):
  '''represents a teacher'''
  def __init__(self, name, age, subject):
    # call the base class constructor ...
    # it assigns name, age to self.name, self.age
    SchoolMember.__init__(self, name, age)
    self.subject = subject
  def detail(self):
    '''teaches this course'''
    SchoolMember.detail(self)
    print 'Teaches course: %s' % self.subject

class Student(SchoolMember):
  '''represents a student'''
  def __init__(self, name, age, grades):
    SchoolMember.__init__(self, name, age)
    self.grades = grades
  def detail(self):
    '''student grades'''
    SchoolMember.detail(self)
    print 'Average grades: %d' % self.grades
# teacher has name age and subject taught
t1 = Teacher('Mr. Schard', 40, 'Beginning Python 101')
# student has name, age and average grade (max 100)
s1 = Student('Abigale Agat', 20, 92)
s2 = Student('Bertha Belch', 22, 65)
s3 = Student('Karl Kuss', 21, 98)
s4 = Student('Tom Tippit', 22, 77)
s5 = Student('Zoe Zeller', 20, 88)
print '-'*55
# list of instances, Teacher t1 and Students s1 ... s5
members = [t1, s1, s2, s3, s4, s5]
sumgrades = 0
for member in members:
  memberType = member.detail()
  try:
    sumgrades += member.grades
  except AttributeError:
    pass # this would be a teacher, has no grades so skip
print "\n%s's students class-average grades = %d" % (t1.name, sumgrades/5)


"""
    output -->
    Name: Mr. Schard Age:40 Teaches course: Beginning Python 101
    Name: Abigale Agat Age:20 Average grades: 92
    Name: Bertha Belch Age:22 Average grades: 65
    Name: Karl Kuss Age:21 Average grades: 98
    Name: Tom Tippit Age:22 Average grades: 77
    Name: Zoe Zeller Age:20 Average grades: 88
    Mr. Schard's students class-average grades = 84
"""

SyntaxError: invalid syntax (<ipython-input-9-8ea9346f2c8a>, line 10)

In [24]:
# a typical Python class example
# newer class convention uses inheritance place holder (object)
class Account(object):
  # __init__() initializes a newly created class instance,
  # 'self' refers to the particular class instance
  # and also carries the data between the methods.
  # You have to supply the initial account balance
  # during creation of the class instance.
  def __init__(self, initial):
    self.balance = initial
  def deposit(self, amt):
    # a function within a class is called a method
    # self always starts the argument list of a method
    self.balance = self.balance + amt
  def withdraw(self,amt):
    self.balance = self.balance - amt
  def getbalance(self):
    return self.balance
# create two new class instance, Mary's and Tom's account
mary = Account(1000.00) # start with initial balance of 1000.00
tom = Account(3000.00) # tom is lucky he starts with 3000.00
# Mary makes deposits and a withdrawel
mary.deposit(500.00)
mary.deposit(23.45)
mary.withdraw(78.20)
# Tom also accesses his account
tom.withdraw(1295.50)
# now look a the account balances

print("Mary's balance = {0:.2f}".format(mary.getbalance()))
print("Tom's balance = {0:.2f}".format(tom.getbalance()))

Mary's balance = 1445.25
Tom's balance = 1704.50

In [30]:
str1 = 'My email address is zszong@hotmail.    '
str2 = 'My phone number is 604-818-0169 and fax number is 222-333-6666.'
str3 = str1 + str2
print("concatenate strings:",str3)

concatenate strings: My email address is zszong@hotmail.    My phone number is 604-818-0169 and fax number is 222-333-6666.

In [38]:
str4 = str1.replace('hotmail', 'gmail')
str4

'My email address is zszong@gmail.    '

In [37]:
print(str1.startswith('M'))
print(type(str4))
# string methods
dir('str4')[:4]

True
<class 'str'>

['__add__', '__class__', '__contains__', '__delattr__']

In [53]:
str5 = input('Enter str5:')
str5.upper()
len(str5)

# find the index of a character in a string
str5.find('j')

str6 = 'I am going home very soon.'
str6[:]
str6[:5]
'n' in str6
str6.find('o')

Enter str5:jdkfjsa;a

'JDKFJSA;A'

9

0

'I am going home very soon.'

'I am '

True

6

### directories and files

In [74]:
cwd = os.getcwd()
cwd
os.path.abspath('xx.not.exist')
os.listdir(cwd)[:3]

'/projects/trans_scratch/validations/workspace/szong/development/ds'

'/projects/trans_scratch/validations/workspace/szong/development/ds/xx.not.exist'

['numpy_playground_20191212.ipynb',
 'numpy_basics_kat-Copy1.ipynb',
 'Bayesian_pymc3_tutorial_20190617.ipynb']

In [73]:
count = 0
for (dirname, dirs, files) in os.walk('.'):
   for filename in files:
      if filename.endswith('.ipynb') :
          count += 1 
          thefile = os.path.join(dirname, filename) 
          size = os.path.getsize(thefile)
          if size == 2578 or size == 2565:
            continue
          fhand = open(thefile, 'r') 
          lines = list()
          for line in fhand:
             lines.append(line) 
          fhand.close()
          if len(lines) > 10000:
              len(lines), thefile 
              lines[:4]      
          os.path.getsize(thefile)

37831

10716

88209

80711

292856

4129403

(73562, './ts2_20190527.ipynb')

['{\n', ' "cells": [\n', '  {\n', '   "cell_type": "code",\n']

16112999

9702

18497209

71974

19347

61615

81557

1751

295797

6987

5667

4449001

78119

6793

27727

12033

5566

11829538

1508

20731

5346

6244

6931

9692

33588

1935755

75491

98826

928360

1534

675461

37805

3897

(15033, './plotly_interactive_plot_20191231.ipynb')

['{\n', ' "cells": [\n', '  {\n', '   "cell_type": "markdown",\n']

512783

179665

97263

5566

17701

27727

292856

75491

39941

61615

4129403

97777

3895

17743990

1508

3895

6793

1788334

34965

179665

(15033,
 './.ipynb_checkpoints/plotly_interactive_plot_20191231-checkpoint.ipynb')

['{\n', ' "cells": [\n', '  {\n', '   "cell_type": "markdown",\n']

512783

98826

11829538

3895

27727

97263

27727

In [81]:
len(sys.argv)
type(sys.argv) 
sys.argv

3

list

['/projects/da_workspace/software/miniconda/envs/da/lib/python3.7/site-packages/ipykernel_launcher.py',
 '-f',
 '/home/szong/.local/share/jupyter/runtime/kernel-7a1e21d5-61f3-41d8-80ed-6d9bfda11cbe.json']

In [92]:
for arg in sys.argv:
   print('Argument:', arg)

name = sys.argv[2]
handle = open(name, 'r')
text = handle.read()
print(name, 'is', len(text), 'bytes')

cmd = 'ls -l'
fp = os.popen(cmd)
res = fp.read()
res[:100]
fp.close()

Argument: /projects/da_workspace/software/miniconda/envs/da/lib/python3.7/site-packages/ipykernel_launcher.py
Argument: -f
Argument: /home/szong/.local/share/jupyter/runtime/kernel-7a1e21d5-61f3-41d8-80ed-6d9bfda11cbe.json
/home/szong/.local/share/jupyter/runtime/kernel-7a1e21d5-61f3-41d8-80ed-6d9bfda11cbe.json is 263 bytes

'total 71770\n-rw-r--r-- 1 szong bfx_prod       20731 Jul 11  2019 Algorithm_kathryne.ipynb\n-rw-r--r--'

In [1]:
fName = input('Enter file name:')
try:
  fHandle = open(fName)
except:
  print('File cannot be opened:', fName)
  exit()

Enter file name:cal
File cannot be opened: cal

ERROR:root:Invalid alias: The name clear can't be aliased because it is another magic command.
ERROR:root:Invalid alias: The name more can't be aliased because it is another magic command.
ERROR:root:Invalid alias: The name less can't be aliased because it is another magic command.
ERROR:root:Invalid alias: The name man can't be aliased because it is another magic command.

In [14]:
#why do i need to open the file again here?
fHandle = open('regex_examples.txt')
for line in fHandle:
    print('************')
    print(line.find('From:'))
    print(re.search('From:', line))
    print(re.findall('^@\S+', line))
    print(re.findall('\S+@\S+', line))
    print(re.findall('\S+(@\S+)', line))
##########
#+ 1 or more times, * 0 or more times greedy, 
    print(re.findall('From: .*@([^ ]*[hotmailsfu]+\S+)', line))

# () start and end extracting
# [^ ]: one character means non blank character
#[hotmailsfu]a set of character,match any of the character in that group

************
-1
None
['@The']
[]
[]
[]
************
19
<re.Match object; span=(19, 24), match='From:'>
[]
['2020@,']
['@,']
['must']
************
-1
None
[]
['hrforms@bcgsc.ca).']
['@bcgsc.ca).']
[]

In [21]:
import textwrap
seq = '        AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA     AAAAAAAAAAAAAAA    AAAATTTT           TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG'
textwrap.wrap(seq, 40)
textwrap.fill(seq, 40)
textwrap.dedent(seq)

['        AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA',
 'AAAAAAAAA     AAAAAAAAAAAAAAA',
 'AAAATTTT           TTTTTTTTTTTTTTTTTTTTT',
 'TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT',
 'TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT',
 'TTTTTTTTTTGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG',
 'GGGGGGGGG']

'        AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAAAAAAA     AAAAAAAAAAAAAAA\nAAAATTTT           TTTTTTTTTTTTTTTTTTTTT\nTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT\nTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT\nTTTTTTTTTTGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG\nGGGGGGGGG'

'AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA     AAAAAAAAAAAAAAA    AAAATTTT           TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG'